@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

html, body {
    margin: 0 auto;
    height: 100%;
    font-family: 'MuseoModerno', cursive; /* add a fallback font */ 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d202c;
}
div .info-pane {
    position: absolute;
    font-family: 'MuseoModerno', cursive;
    font-size: 15px;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
div .info-pane p {
    margin: 15px;
    font-weight: 500;
    font-size: 30px;
}
.info-pane .info-pane-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.info-pane:hover .info-pane-text {
    visibility: visible;
}
.bot-icon {
    position: absolute;
    cursor: pointer;
    height: 100px;
    left: 20px;
    top: 15px;
}

.tile-reset {
    background-color: #293254;
    border-radius: 50px;
    display: block;
    transition: box-shadow 1.3s ease-in-out;
    box-shadow: none;
}

.main-heading {
    margin: 0 0 0 20px;
}
.main-heading h1 {
    font-family: 'Orbitron', sans-serif;
}

.game-grid {
    display: grid;
    font-size: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
}
div.game-grid div {
    height: 153.3px;
}

.tile { 
    background-color: #293254;
    border-radius: 50px;
    display: block;
}
.tile:hover {
    transform: scale(1.15);
    transition: transform 0.25s ease-in-out;
    box-shadow: 0 0 25px rgb(250, 250, 250);
    cursor: pointer;
    border: none; 
}
.tile-dwn {
    transition: transform 0.25s ease-in-out;
    cursor: pointer;
    border: none;
}

.blue-player {
    background-color: #293254;
    border-radius: 50px;
    box-shadow: 0 0 25px rgb(0, 0, 255);
    display: block;
}
.blue-player:hover {
    transform: scale(1.15);
    transition: transform 0.25s ease-in-out;
    box-shadow: 0 0 25px rgb(0, 0, 255);
    transition: box-shadow 0.5s ease-in-out;
    cursor: not-allowed;
    border: none; 
}

.red-player { 
    /* possibly stop the :hover animation once a tile has been clicked by overriding the pseudoclass 
        - but how to stop it from overriding and preventing the downward ease-in-out transition */
    background-color: #293254;
    border-radius: 50px;
    box-shadow: 0 0 25px rgb(255, 0, 0);
    display: block;
}
.red-player:hover {
    transform: scale(1.15);
    transition: transform 0.25s ease-in-out;
    box-shadow: 0 0 25px rgb(255, 0, 0);
    transition: box-shadow 0.5s ease-in-out;
    cursor: not-allowed;
    border: none; 
}

.game-board {
    position: relative;
    border-radius: 20px;
    width: 500px;
    padding: 2% 5%;
    color: #fff;
    text-align: center;
    background-color: rgba(21, 24, 35, 0.7);
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);
}
.game-board:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    filter: blur(40px);
    transform: scale(1.5);
    background: linear-gradient(90deg, #0fffc1, #FFCD00);
    background-size: 200% 200%;
    animation: animateglow 10s ease infinite;
}
@keyframes animateglow {
    0% {
        background-position: 0% 50%;
    }
    
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.sub-board {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 20px;
    height: 100px;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #293254;
    text-align: left;
}
.sub-board p {
    margin-left: 20px;
}
.player-scores p {
    margin-top: 18px;
}
.sub-board button {
    position: absolute;
    right: 60px;
    bottom: 50px;
}
#reset-btn {
    background-color: rgba(21, 24, 35, 0.7);
    border-style: ridge;
    border-radius: 20px;
    width: 100px;
    font-family: 'MuseoModerno', cursive;
    color: white;
    cursor: pointer;
}

.red-player-glow {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    transition: box-shadow 1.3s ease-in-out;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px rgb(255, 0, 0),
      inset -20px 0 80px rgb(255, 0, 0),
      inset 20px 0 300px rgb(255, 0, 0),
      inset -20px 0 300px rgb(255, 0, 0),
      0 0 50px #fff,
      -10px 0 80px rgb(255, 0, 0),
      10px 0 80px #0ff;
  }

.red-player-glow:hover {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px rgb(255, 0, 0),
      inset -20px 0 80px rgb(255, 0, 0),
      inset 20px 0 300px rgb(255, 0, 0),
      inset -20px 0 300px rgb(255, 0, 0),
      0 0 50px #fff,
      -10px 0 80px rgb(255, 0, 0),
      10px 0 80px #0ff;
  }

  .blue-player-glow {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    transition: box-shadow 1.3s ease-in-out;
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px rgb(0, 0, 255),
      inset -20px 0 80px rgb(0, 0, 255),
      inset 20px 0 300px rgb(0, 0, 255),
      inset -20px 0 300px rgb(0, 0, 255),
      0 0 50px #fff,
      -10px 0 80px rgb(0, 0, 255),
      10px 0 80px #0ff;
  }

.blue-player-glow:hover {
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    box-shadow:
      inset 0 0 50px #fff,
      inset 20px 0 80px rgb(0, 0, 255),
      inset -20px 0 80px rgb(0, 0, 255),
      inset 20px 0 300px rgb(0, 0, 255),
      inset -20px 0 300px rgb(0, 0, 255),
      0 0 50px #fff,
      -10px 0 80px rgb(0, 0, 255),
      10px 0 80px #0ff;
  }

@media screen and (max-width: 600px) {
    .bot-icon {
        height: 50px;
    }
    .game-board {
        position: relative;
        width: 300px;
    }
    div.game-grid div {
        height: 86.66px;
    }
    div .info-pane p {
        margin: 5px;
        font-weight: 500;
        font-size: 25px;
    }

    .sub-board {
        height: 130px
    }
    .player-scores p {
        margin-top: 25px;
    }
    .sub-board button {
        right: 47px;
        bottom: 50px;
    }
}
